/* ######################### Widget Ticket ######################## */

#cem-ticket-widget {
    background-color: #f3f3f7;
    padding: 10px;
    border: 1px solid #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#cem-ticket-widget .cem-event-thumbnail {
    display: block;
    margin-bottom: 5px;
    text-align: center;
}

#cem-ticket-widget .cem-event-thumbnail > img {
    max-width: 100%;
    height: auto;
}

#cem-ticket-widget .input-group:not(:first-child) {
    margin-top: 7px;
}

#cem-ticket-widget .input-group:last-child {
    margin-top: 20px;
}

#cem-ticket-widget .input-group > * {
    display: block;
    width: 100%;
}

#cem-ticket-widget .input-group > label {
    cursor: pointer;
}

#cem-ticket-widget .input-group > button {
    width: auto;
    display: inline-block;
    padding: 10px 45px;
}

#cem-ticket-widget hr {
    margin: 30px 2px 20px;
}

/* ###################### END OF Widget Ticket ###################### */
