/* ######################### Widget Ticket ######################## */

.widget_cem_ticket {
    border: 1px solid #ddd;
    background-color: #E8E8E8;
    padding-bottom: 30px;
}

.widget_cem_ticket .cem-event-thumbnail {
    display: block;
    background-color: #FFFFFF;
    margin-bottom: 5px;
    text-align: center;
    padding: 4px;
}

.widget_cem_ticket .cem-event-thumbnail > img {
    max-width: 100%;
    height: auto;
}

.widget_cem_ticket h3,
.widget_cem_ticket p {
    width: auto;
    margin: 20px 20px 5px;
}

.widget_cem_ticket .input-group {
    width: auto;
    padding: 20px 20px 5px;
}

.widget_cem_ticket .input-group:last-child {
    text-align: center;
}

.widget_cem_ticket .input-group > * {
    display: block;
    width: 100%;
}

.widget_cem_ticket .input-group > label {
    cursor: pointer;
}

.widget_cem_ticket .input-group > button {
    width: auto;
    display: inline-block;
    padding: 10px 45px;
}

.widget_cem_ticket hr {
    margin: 30px 2px 20px;
}

/* ###################### END OF Widget Ticket ###################### */
